body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid orange; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid orange; */
}

/* nav bar  */
#nav_bar {
    display: flex;
    width: 95vw;
    background-color: rgb(225, 225, 225);
    align-items: center;
    padding-left: 2.25vw;
    padding-right: 2.25vw;
}

#nav_bar > a {
    margin-right: 10px;
}

#user_info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#user_info > a {
    margin-left: 10px;
}

/* index page */
.avg_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: aquamarine;
    height: 125px;
    width: 125px;
    font-size: 30px;
}

/* forms */

form {
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    /* background-color: rgb(245, 245, 245); */
}

.form_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#create_form, #edit_form {
    margin-top: 50px;
}

#delete_btn {
    margin-left: 15px;
}

form h1 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

#login_form, #sign_up_form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login_form > table, #sign_up_form > table {
    margin-bottom: 15px;
}

#login_form > button, #sign_up_form > button {
    margin: auto;
}

/* log list */
#log_list {
    margin: auto;
    padding: 0;
}

#page_nav {
    width: 95%;
}

#page_nav > p {
    margin: auto;
    width: fit-content;
}

#prev_a {
    float: left
}

#next_a {
    float: right
}