body {
    background-color: whitesmoke;
}

.mh_circle {
    border-radius: 50%;
    background-color: aquamarine;
    padding: 40px;
    width: fit-content;
}

.mh_circle p {
    text-align: center;
}

.user_info {
    position: absolute; 
    right: 4vw; 
    top: 0; 
    display: flex;
    align-items: center;
}

.user_info p {
    margin-right: 10px;
}