<!DOCTYPE html>

{% load static %}
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        {% block title %}
        <title>Mental Health Tracker</title>
        {% endblock %}
        <link href="{% static 'mhtracker/main.css' %}" rel='stylesheet'>
        {% block css %}
        {% endblock %}
    </head>
    
    <body>
        <nav>
            {% block nav %}
            <a href="{% url 'mhtracker:index' %}">Home</a>
            <a href="{% url 'mhtracker:create' %}">Add log</a>
            <a href="{% url 'mhtracker:list' %}">View logs</a>

            <div class="user_info">
                <p>{{ user }}</p>
                <a href="{% url 'logout' %}">Sign out</a>
            </div>
            {% endblock %}
        </nav>

        <main>
            {% block main %}
            <p>Hello from base.html!</p>
            {% endblock %}
        </main>
    </body>
</html>